* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --text: #0F1419;
    --grey: #536471;
    --border: #DADDDF;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tweet-container {
    display: flex;
    max-width: 591px;
    width: 100%;
    height: 161px;
    border: 1px solid var(--border);
    padding: 17px 84px 17px 17px;
    box-sizing: border-box;
}

.header {
    display: flex;
    margin-bottom: 7px;
    align-items: center;
}

.verified-icon {
    width: 15px;
    height: 15px;
}

.image {
    margin-right: 12px;
}

.user-name {
    margin-right: 3px;
    font-size: 15px;
    font-weight: 700;
    color: var(--text);
}

.verified-icon {
    margin-right: 6px;
}

.user-link {
    margin-right: 4px;
    font-size: 15px;
    font-weight: 400;
    color: var(--grey);
}

.dot {
    width: 3px;
    height: 3px;
    background-color: var(--grey);
    border-radius: 50%;
    margin: 6px 4px 0 0;
}

.date {
    font-size: 15px;
    font-weight: 400;
    color: var(--grey);
}

.main {
    margin-bottom: 15px;
}

.main p {
    font-size: 15px;
    font-weight: 400;
    color: var(--text);
}

.join {
    margin-top: 28px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.box {
    display: flex;
    font-size: 13px;
    color: var(--grey);
    font-weight: 400;
}

.box small {
    margin-left: 15px;
    width: 100%;
}

@media (max-width:1024px) {
    .tweet-container {
        padding: 10px;
    }
    body {
        padding: 10px;
    }
    .box small {
        margin-left: 5px;
    }
}